name: Android CI

on:
  push:
  # pull_request:

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 17

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Increase Gradle memory
        run: echo "\n\norg.gradle.jvmargs=-Xmx4g -XX:MaxMetaspaceSize=1g\n\n" >> gradle.properties

      - name: Build Debug
        run: ./gradlew assembleDebug

      - name: Build Release
        run: ./gradlew assembleRelease

      - name: Run Debug unit tests
        run: ./gradlew testDebugUnitTest

      - name: Run Release unit tests
        run: ./gradlew testReleaseUnitTest

      - name: Generate SHA256 checksums
        run: |
          find . -name '*.apk' | while read apk; do
            sha256sum "$apk" > "${apk}.sha256"
          done

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: myapk
          path: |
            app/build/outputs/apk/debug/*.apk
            app/build/outputs/apk/debug/*.sha256
            app/build/outputs/apk/release/*.apk
            app/build/outputs/apk/release/*.sha256

